In [ ]:
#max number in list
def maximum(b):
  max=0
  for i in b:
    if i>max:
      max=i
  return max


a=[20,45,56,788,54,55]
print(maximum(a))

788

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#min number in list
def minimum(b):
  min=b[0]
  for i in b:
    if i<min:
      min=i
  return min


a=[20,45,56,788,54,55]
print(minimum(a))

20

In [ ]:
#fibonacci series
a=0
b=1
num=1
for i in range(0,10):
  print(a,b,end=" ")
  a+=b
  b+=a

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [ ]:
#prime number
for i in range(2,50):
  for j in range(1,i):
    if i%j==0:
       break
  else:
    print(i,end=" ")

In [ ]:
x=int(input("Enter Number "))
l=[]
if x>1:
  for j in range(2,x):
      for i in range(2,j):
          if j%i==0:
            #print("Not prime no",x)
            break
      else:
          l.append(j)
print("The prime number between 1 and 50 are ")
for k in l:
   print(k,end=" ")

In [ ]:
#prime number
for i in range(2,50):
  for j in range(2,i):
    if i%j==0:
       break
  else:
    print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [ ]:
#str length >2 and last and first character should be same
def check(b):
  count=0
  for str in b:
    if len(str)>=2 and str[0]==str[-1]:
       count+=1

  return count

l=["xyx","abc","aaa","hdghj","bvb"]
print(check(l))

3

In [ ]:
def armstrong(number,count):
    y=number
    cc=0
    b=0
    while y>0:

        b=y%10
        cc+=b**3
        y=y//10
    return cc



a=int(input("Enter Number"))
count=0
for i in str(a):
  count+=1
c=armstrong(a,count)

if c==a:
  print('armstrong',a)
else:
  print('not armstrong',a)

Enter Number456
not armstrong 405

In [ ]:

aa=input("Enter Number")

if aa==aa[::-1]:
  print('palindrome')
else:
  print('not palindrome')

Enter Numberis  a ais
not palindrome

In [ ]:
a=11
x=10
for i in range(1,x):
  for j in range((x-1)-i):
     print(" ",end="")
  for j in str(a**(i-1)):
      print(j,end=" ")

  print("")

        1
       1 1
      1 2 1
     1 3 3 1
    1 4 6 4 1
   1 6 1 0 5 1
  1 7 7 1 5 6 1
 1 9 4 8 7 1 7 1
2 1 4 3 5 8 8 8 1

In [ ]:
for i in range(1,5):
  for j in range(4-i):
    print(end=" ")
  for j in range(1,i+1):
    print(i,end="")
  print("")

   1
  22
 333
4444

In [ ]:
#binary number is
a=0
c=""
for i in range(1,10):
  a=i
  while a>0:
      b=a%2   #0 0 0 1 
      c=str(b)+c #1000
      a=a//2 #4 2 1 0

  print("Binary number",i,"is",c,"Maximum number of consecutive 1's is",c.count('1')-1)
  c=""

Binary number 1 is 1 Maximum number of consecutive 1's is 0
Binary number 2 is 10 Maximum number of consecutive 1's is 0
Binary number 3 is 11 Maximum number of consecutive 1's is 1
Binary number 4 is 100 Maximum number of consecutive 1's is 0
Binary number 5 is 101 Maximum number of consecutive 1's is 1
Binary number 6 is 110 Maximum number of consecutive 1's is 1
Binary number 7 is 111 Maximum number of consecutive 1's is 2
Binary number 8 is 1000 Maximum number of consecutive 1's is 0
Binary number 9 is 1001 Maximum number of consecutive 1's is 1

In [ ]:

a=int(input())
b=set(map(str,input().split()))
print(len(b))

7
hjh hjk jkhk hjkk
4

In [ ]:
a=int(input())
c=set()
while a>0:
    
  b=set(map(str,input().split()))
  c.update(b)
  a-=1

print(len(set(c)))

7
uk
china
us
france
nz
uk
france
5

In [ ]:
c=set()

for i in range(int(input())):
    c.add(input())
    
print(len(c))

7
uk
china
us
france
nz
uk
france
5

3
aa 454
ss 464
dd 4564
aa

KeyError: ignored