In [1]:
#1.
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [3]:
#2.
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [6]:
#3
sum=0
for i in range(1,6):
    sum=i
    for j in range(1,i+1):
        print(j,end=" ")
    print()
for i in range(sum,0,-1):
    for j in range(1,i):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [3]:
#4.
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [8]:
#5
for i in range(1,6):
    for j in range(1,6-i):
        print(" ",end="")
    for j in range(1,i+1):
        print(j,end=" ")
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [9]:
#6
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [11]:
#7.
# 5
# 54
# 543
# 5432
# 54321

for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j,end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [1]:
#8
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [2]:
#9
sum=0
for i in range(1,6):
    for j in range(i):
        sum+=1
        print(sum,end=" ")
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [4]:
#10
for i in range(1,6):
    for j in range(i,0,-1):      
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [6]:
#11
for i in range(1,6):
    for j in range(i,0,-1):      
        print(i,end=" ")
        i+=5
    print()

1
2 7
3 8 13
4 9 14 19
5 10 15 20 25

0
1
2
3
4
5

In [22]:
#13
for i in range(1,6):
    for j in range(1,i+1):
         print(j,end=" ")
    for j in range(i-1,0,-1):
        print(j,end=" ")
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [14]:
#15.
for i in range(5,0,-1):
    for j in range(5-i):
        print(" ",end="")
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [27]:
#16.
for i in range(1,6):
    for j in range(5-i,0,-1):
        print(" ",end="")
    for j in range(1,i+1):
        print(j,end=" ")
    print()
for i in range(4,0,-1):
    for j in range(5-i):
        print(" ",end="")
    for j in range(1,i+1):
        print(j,end=" ")
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [2]:
#17
for j in range(1,6):
    for i in range(1,j):
        print(" ",end="")
    for i in range(j,6):
        print(i,end=" ")
    print()
for j in range(1,6):
    for i in range(5-j):
        print(" ",end="")
    for i in range(6-j,6):
        print(i,end=" ")
    print()

1 2 3 4 5
 2 3 4 5
  3 4 5
   4 5
    5
    5
   4 5
  3 4 5
 2 3 4 5
1 2 3 4 5

In [3]:
#18
for j in range(1,6):
    for i in range(1,j):
        print(" ",end="")
    for i in range(j,6):
        print(i,end=" ")
    print()
for j in range(1,6):
    for i in range(5-j):
        print(" ",end="")
    for i in range(6-j,6):
        print(i,end=" ")
    print()

1 2 3 4 5
 2 3 4 5
  3 4 5
   4 5
    5
    5
   4 5
  3 4 5
 2 3 4 5
1 2 3 4 5

In [4]:
#19.
for j in range(1,6):
    for i in range(5-j):
        print(" ",end="")
    for i in range(6-j,6):
        print(i,end=" ")
    print()

    5
   4 5
  3 4 5
 2 3 4 5
1 2 3 4 5

In [7]:
#20
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="")
    for j in range(i-1,0,-1):
        print(j,end="")
    print()

1
121
12321
1234321
123454321

In [10]:
#21
for i in range(1,6):
    for j in range(1,i+1):
        print(j%2,end="")
    print()

1
10
101
1010
10101

In [20]:
#22
for i in range(1,6):
    for j in range(1,6):
        if i==j:
            print(i,end=" ")
        else:
            print(0,end=" ")
    print()

1 0 0 0 0
0 2 0 0 0
0 0 3 0 0
0 0 0 4 0
0 0 0 0 5

In [24]:
#23.
for i in range(1,6):
    for j in range(5-i):
        print(1,end=" ")
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1 1 1 1 1
1 1 1 2 2
1 1 3 3 3
1 4 4 4 4
5 5 5 5 5

In [3]:
#24
for i in range(1,6):
    for j in range(i,6):
        print(j,end=" ")
    for j in range(4,i-1,-1):
        print(j,end=" ")
    print()

1 2 3 4 5 4 3 2 1
2 3 4 5 4 3 2
3 4 5 4 3
4 5 4
5

In [4]:
#25
for i in range(1,6):
    for j in range(5-i):
        print(" ",end="")
    for j in range(1,i+1):
        print(i,end=" ")
    print()

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [9]:
#26
for i in range(5,0,-1):
    for j in range(i,6):
        print(j,end=" ")
    for j in range(i-1):
        print(5,end=" ")
    print()

5 5 5 5 5
4 5 5 5 5
3 4 5 5 5
2 3 4 5 5
1 2 3 4 5

In [11]:
class check:
    def __init__(self):
        self.name="Gaurav Singh"
        self.course="Cdac"
    def __str__(self):
        return self.name+" "+"Studying in cdackharghar "+self.course
    
try:
    obj=check(45)
    print(obj)
except Exception as msg:
    print(msg)
else:
    print("program succesfully done")
finally:
    print("completed")

__init__() takes 1 positional argument but 2 were given
completed

In [351]:
def gen(x):
    while x<100:
        x-=1
        yield x
        
for i in range(100):
    a=gen(10)
    next(a)

In [347]:
next(a)

-273

In [2]:
#27
for i in range(1,6):
    a=4
    for j in range(i):
        print(i,end=" ")
        i+=a
        a-=1
    print()

1
2 6
3 7 10
4 8 11 13
5 9 12 14 15

In [8]:
#28
for i in range(1,8):
    if i<5:
        for j in range(1,i+1):
            print(i*j,end=" ")
        print()
    elif i>=5:
        for j in range(1,9-i):
            print(i*j,end=" ")
        print()

1
2 4
3 6 9
4 8 12 16
5 10 15
6 12
7

In [15]:
#29

for i in range(1,6):
    sum=0
    sum+=i
    for j in range(3,i+1):
        print(sum,end=" ")
        sum+=8-(j-1)
    print()

3
4 9
5 10 14

In [3]:
#31
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j,end=" ")
    for j in range(i-1):
        print(i,end=" ")
    print()

5 5 5 5 5
5 4 4 4 4
5 4 3 3 3
5 4 3 2 2
5 4 3 2 1

In [12]:
for j in range(1,6):
    sum=0
    a=1
    b=0
    for i in range(1,j+1):
        
        sum=a+b
        print(sum,end=" ") 
        a=i
        b=a
        
    print()

1
1 2
1 2 4
1 2 4 6
1 2 4 6 8

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hello\desktop\anaconda\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\hello\desktop\anaconda\lib\site-packages (from mysql-connector-python) (3.20.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector
con=mysql.connector.connect(
    host ='localhost', username='root',password='cdac',database='library'
)

In [3]:
def addbook():
    bn=input("Enter Book name: ")
    c=input("Book Code: ")
    t=int(input("Total Book: "))
    s=input("Enter Subject: ")
    data=(bn,c,t,s)
    sql="insert into books values(%s%s%s%s)"
    c=con.cursor()
    c.execute(sql,data)
    con.commit()
    print("--------------------------------------------------")
    print*("Data Entered Successfully")
    main()

def issuebook():
    n=input("Enter name: ")
    r=input("Book Regno: ")
    co=input("Enter Book Code: ")
    d=input("Enter Date: ")
    data=(n,r,co,d)
    a="insert into issue values(%s%s%s%s)"
    c=con.cursor()
    c.execute(a,data)
    con.commit()
    print("--------------------------------------------------")
    print("Book issued to: ",n)   
    bookup(co,-1) 
    

def submitbook():
    n=input("Enter name: ")
    r=input("Book Regno: ")
    co=input("Enter Book Code: ")
    d=input("Enter Date: ")
    data=(n,r,co,d)
    a="insert into issue values(%s%s%s%s)"
    c=con.cursor()
    c.execute(a,data)
    con.commit()
    print("--------------------------------------------------")
    print("Book isubmitted from: ",n)   
    bookup(co,1) 
    
    
def bookup(co,u):
    a="Select TOTAL from books where BCODE=%s"
    data=(co,)
    c=con.cursor()
    c.execute(a,data)
    myresult=c.fetchone()
    t=myresult[0]+u
    sql="update books set TOTAL=%s where BCODE=%s"
    d=(t,co)
    c.execute(sql,d)
    con.commit()
    main()
    
def deletebook():
    ac=input("Enter Book Code: ")
    a="delete from books where BCODE=%s"
    d=(ac,)
    c=con.cursor()
    c.execute(a,ac)
    con.commit()
    main()

def displaybook():
    s="Select * from book"
    c=con.cursor()
    c.execute(a)
    result=c.fetchall()
    for i in result:
        print("Book Name",i[0])
        print("Book Code",i[1])
        print("Total",i[2])
        print('--------------------------------')
        main()
    
def main():
    print('''                Library
    1.Add Book
    2.Issue Book
    3.Submit Book
    4.Delete Book
    5.Display book
    Enter your choice'''
    )
    n=int(input())
    if n==1:
        addbook()
    elif n==2:
        issuebook()
    elif n==3:
        submitbook()
    elif n==4:
        delbook()
    elif n==5:
        displaybook()
    else:
        print("Wrong input")
        main()
def pswd():
    
    a=input("Enter Your Password ")
    if a=='Gaurav1405':
         main()
    else:
        print("Wrong Password Enter again")
        pswd()
    


pswd()

Enter Your Password Gaurav1405
                Library
    1.Add Book
    2.Issue Book
    3.Submit Book
    4.Delete Book
    5.Display book
    Enter your choice
1
Enter Book name: ghgfhf
Book Code: 555
Total Book: 4
Enter Subject: rhrh

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '4'rhrh')' at line 1

In [11]:
a=0
b=1
for i in range(1,10):
    print(a,b,end=" ")
    a+=b
    b+=a

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [11]:
#137
n=int(input())
list=[]
for i in range(1,n*2,2):
    list.append(i)
#print(list)
for i in range(len(list)):
   
#     print(list)
    for j in list:
        print(j,end=" ")
    print()
    e=list.pop()
    list.insert(0,e)

5
1 3 5 7 9
9 1 3 5 7
7 9 1 3 5
5 7 9 1 3
3 5 7 9 1

In [12]:
n=int(input())
list=[]
for i in range(1,n*2,2):
    list.append(i)
#print(list)
for i in range(len(list)):
   
#     print(list)
    for j in list:
        print(j,end=" ")
    print()
    e=list.pop(0)
    list.append(e)

5
1 3 5 7 9
3 5 7 9 1
5 7 9 1 3
7 9 1 3 5
9 1 3 5 7

In [23]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="")
    for j in range(10-2*i):
        print(" ",end="")
    for j in range(i,0,-1):
        print(j,end="")
    print()

1        1
12      21
123    321
1234  4321
1234554321